button {
    background-color: #272727;
    color: #e6e6e6;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid darkgray;
    cursor: pointer;
}

h1 {
    font-family: '/css/Aeonik.ttf';
}