@font-face {
	font-family: Aeonik;
	src: url(./Aeonik.ttf);
}

button {
	background-color: #272727;
	color: #e6e6e6;
	padding: 14px 20px;
	margin: 8px 0;
	border: 2px solid darkgray;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Aeonik;
}

/* ~~~ The below lines are edits to the Docsify Dark Theme markdown defaults. ~~~ */
.app-name-link {
	font-weight: bold;
	color: white !important;
}

:root {
	--content-max-width: 75em;
	--theme-color: #fd371c;
	--link-color: #fd371c;
	--strong-color: #fd371c;
	/* --link-color--hover: ??? */
}
